<section class="Faming_Guides_section mt-2 mb-5 pt-5" id="guide">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="fs-2 fw-bold text-center">Farming Guide</h2>
                    <p class="text-center fw-semibold">Explore a collection of easy-to-follow farming guides <br> that
                        cover different aspects of agriculture. Each guide is categorized for easy <br> navigation based
                        on crop types, seasons, and farming methods.</p>
                </div>

                <div class="col-12 justify-content-center">
                    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">All</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Cereals</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">Legume</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-vegetable-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-vegetable" type="button" role="tab"
                                aria-controls="pills-vegetable" aria-selected="false">Vegetable</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-fruit-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-fruit" type="button" role="tab" aria-controls="pills-fruit"
                                aria-selected="false">Fruit</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-monsoon-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-monsoon" type="button" role="tab" aria-controls="pills-monsoon"
                                aria-selected="false">Monsoon</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-winter-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-winter" type="button" role="tab" aria-controls="pills-winter"
                                aria-selected="false">Winter</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/planting.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Planting Techniques</h5>
                                            <p class="card-text">Step-by-step guides on planting various crops.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/watering.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Watering and Irrigation</h5>
                                            <p class="card-text">Efficient watering systems and techniques.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/Soil Fertility.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Soil Fertility Management</h5>
                                            <p class="card-text">Improve soil quality through natural methods.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/Harvesting.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Harvesting</h5>
                                            <p class="card-text">Get the best tips on when and how to harvest your
                                                crops.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/planting.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Planting Techniques</h5>
                                            <p class="card-text">Step-by-step guides on planting various crops.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/watering.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Watering and Irrigation</h5>
                                            <p class="card-text">Efficient watering systems and techniques for different
                                                climates.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/Soil Fertility.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Soil Fertility Management</h5>
                                            <p class="card-text">Improve soil quality through natural methods.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/Harvesting.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Harvesting</h5>
                                            <p class="card-text">Get the best tips on when and how to harvest your
                                                crops.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab" tabindex="0">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/planting.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Planting Techniques</h5>
                                            <p class="card-text">Step-by-step guides on planting various crops.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/watering.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Watering and Irrigation</h5>
                                            <p class="card-text">Efficient watering systems and techniques for different
                                                climates.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/Soil Fertility.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Soil Fertility Management</h5>
                                            <p class="card-text">Improve soil quality through natural methods.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="card">
                                        <div class="fg_img">
                                            <img src="assets/img/Harvesting.jpg" alt="" class="card-img-top">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Harvesting</h5>
                                            <p class="card-text">Get the best tips on when and how to harvest your
                                                crops.</p>
                                            <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="fg_img">
                            <img src="assets/img/planting.jpg" alt="" class="card-img-top">
                        </div>
                        <div class="card-body text-center">
                          <h5 class="card-title">Planting Techniques</h5>
                          <p class="card-text">Step-by-step guides on planting various crops.</p>
                          <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="fg_img">
                            <img src="assets/img/watering.jpg" alt="" class="card-img-top">
                        </div>
                        <div class="card-body text-center">
                          <h5 class="card-title">Watering and Irrigation</h5>
                          <p class="card-text">Efficient watering systems and techniques for different climates.</p>
                          <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="fg_img">
                            <img src="assets/img/Soil Fertility.jpg" alt="" class="card-img-top">
                        </div>
                        <div class="card-body text-center">
                          <h5 class="card-title">Soil Fertility Management</h5>
                          <p class="card-text">Improve soil quality through natural methods.</p>
                          <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="fg_img">
                            <img src="assets/img/Harvesting.jpg" alt="" class="card-img-top">
                        </div>
                        <div class="card-body text-center">
                          <h5 class="card-title">Harvesting</h5>
                          <p class="card-text">Get the best tips on when and how to harvest your crops.</p>
                          <a href="#" class="btn btn-success fw-semibold">More Tips</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>